 <nav class="navbar navbar-inverse top-bar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
            </div>
        </div>
    </nav>