 <div class="left-sidebar" id="show-nav">
                <ul id="side" class="side-nav">
                    <li class="panel">
                        <a id="panel1" href="/" data-toggle="collapse" data-target="#Category">  Category
                            <i class="fa fa-chevron-left pull-right" id="arow1"></i> </a>
                        
                    </li>
                    <li class="panel">
                        <a id="panel2" href="/machineList" data-toggle="collapse" data-target="#Machine"> <i class="fa fa-bar-chart-o"></i> Machine
                            <i class="fa fa-chevron-left pull-right" id="arow2"></i> </a>
                                           </li>
                   
                </ul>
            </div>